DATABASE_URL="postgresql://postgres:postgres@localhost:5432/olanjay"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXTAUTH_URL="http://localhost:3000"
SCHOOL_NAME="Olanjay Technical School"
SCHOOL_SUBTITLE="New Africa Technical Institute"
